 @media (max-width: 767px) {
            #first-header {
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom: 0px;
                width: auto;
            }

            #site-foot {
                margin-left: -20px;
                margin-right: -20px;
                padding: 20px;
            }
        }

        h3.b {
            color: #EEEEEE;
        }

        .thumbnail.b {
            border: 1px solid #444;
        }

        .thumbnail.b:HOVER {
            border: 1px solid #555;
        }
